* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: black;
}

header {
    text-align: center;
    color: white;
}

.startFormBtn {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    padding: 15px;
    color: rgb(231, 82, 231);
    background-color: black;
    border: none;
}

.startFormBtn.active {
    display: none;
}

#playerForm {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

#playerForm.active {
    transform: translate(-50%, -50%) scale(1);
}

.column {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 22px;
    font-weight: 600;
    color: rgb(105, 220, 240);
    margin-bottom: 15px;
}

.inputArea {
    display: flex;
    gap: 40px;
}

input {
    border: none;
    padding: 5px;
    font-size: 25px;
}

form>button {
    padding: 15px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
}

.overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background-color: black;
}

.overlay.active {
    display: block;
}

.gameSection {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}

.turn{
    visibility: hidden;
    font-size: 40px;
}

.turn.active {
    visibility: visible;
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {transform: translate(0, 0px);}
    50% {transform: translate(0, 15px);}
    100% {transform: translate(0, -0px);}
}

.symbol {
    font-size: 65px;
}

.gameSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.gameButtons {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.gameButtons button {
    font-size: 25px;
    color: white;
    background: none;
    border: none;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, minmax(1ch, 200px));
    grid-template-rows: repeat(3, minmax(1ch, 200px));
    justify-content: center;
}

.square {
    border: 3px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}